body {
    display: grid;
    grid-template-columns: (10% 20% 44% 24%);
    grid-template-rows: (5, 250px);
    grid-template-areas: 
    "header header header header"
    "sidebar sibebar main main"
    ;
}

.cabecalho{
    display: flex;
    background-color: aqua;
    grid-area: header;
    width: 90%;
}

.navegacao {
    grid-area: sidebar;
}

.conteudo {
    grid-area: main;
}